body {
    font-family: 'Open Sans', sans-serif;
    font-size:1.2rem;
    line-height:1.65;
    color:#393d41;

}

.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:40%;
}

header > div {
    background-color: black;
    padding-top:40px;
    padding-bottom:40px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color:#25a2c3;
    font-weight:bold;
    line-height:1.5;
    font-size:35px;
}

nav div {
    text-align: center;
    padding-top:40px;
    padding-bottom:40px;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    padding-left:50px;
    padding-right:50px;
}

button {
    background-color:#f04c2f;
    border:none;
    color:white;
    text-transform: uppercase;
    font-weight:bold;
    width:150px;
    padding-top:20px;
    padding-bottom:20px;
    padding-right:10px;
    padding-left:10px;
    margin-top:30px;
    border-radius:10px;
}

article {
    text-align: center;
    padding-right:40px;
    padding-left:40px;
    color:#393d41;
}

article h3 {
    color:#25a2c3;
    font-weight: bold;
    
}

.first-h3 {
    padding-top:50px;
}

.text-para {
    padding-top:15px;
}

.article-img {
    border-radius: 50%;
    width:300px;
    margin-top:30px;
}

.div-2 {
    text-align: center;
    background-color: #e22d0e;
    color:white;
    padding-top:50px;
    padding-bottom:30px;
}

.h2-div {
    font-weight:bold;
    font-size:40px;
}

blockquote {
    font-style:italic;
    padding-top:20px;
}

.ceo-text {
    font-size:15px;
}

/* .first-p-aside {
    width:80%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top:50px;
} */

.h3-text {
    text-align: center;
    font-weight:bold;
    font-size:15px;
    color:#25a2c3;
    padding-top:20px;
}

.p-text {
    text-align: center;
    font-size:15px;
    padding-right:50px;
    padding-left:50px;
}

figure {
    border:1px solid lightgrey;
    border-radius:10px;;
    margin-top:50px;
    margin-left:30px;
    margin-right:30px;
    padding-bottom:20px;
    overflow:auto;
}

figure img {
    display:block;
    width:100%;
}

aside {
    margin-bottom:60px;
}

footer {
    background-color:#25a2c3;
    text-align: center;
    padding-top:30px;
    padding-bottom:30px;
}

footer h2 {
    font-weight:bold;
    font-size:30px;
    color:white;
    padding-bottom:15px;
}

